extends layout

block content
  h1= title
  if !currentUser
    h2 Please log in.
  else if currentUser.membershipStatus
    h2 You are already a member.
  else
    form(method="post")
      .fields 
        label(for="secretCode") Secret Code: 
        input#secretCode(type="password", name="secretCode", required) 
      button(type="submit") Join
    if errors
      ul 
        each error in errors
          li!= error.msg