doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav 
      a(href="/") 
        button Home
      if currentUser 
        if !currentUser.membershipStatus
          a(href="/join-club")
            button Join Club
        a(href="/logout")
          button Log Out
      else
        a(href="/login")
          button Log In
        a(href="/sign-up") 
          button Sign Up
    main
      block content
