<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav>
      <a href="/"><button>Home</button></a>
      <% if (locals.currentUser) { if (!currentUser.is_member) { %>
      <a href="/join-club"><button>Join Club</button></a>
      <% } if (!currentUser.is_admin) { %>
      <a href="/admin"><button>Become Admin</button></a>
      <% } %>
      <a href="/logout"><button>Log Out</button></a>
      <% } else { %>
      <a href="/login"><button>Log In</button></a>
      <a href="/sign-up"><button>Sign Up</button></a>
      <% } %>
    </nav>
    <main>
      <h1><%= title %></h1>
      <% if (title === 'Join Club' && currentUser.is_member) { %>
      <h2>Your are already a member.</h2>
      <% } else if (title === 'Become Admin' && currentUser.is_admin) { %>
      <h2>You are already an admin.</h2>
      <% } else { %>
      <form method="post">
        <div class="fields">
          <label for="secretCode">Secret Code: </label>
          <input type="password" name="secretCode" id="secretCode" required />
        </div>
        <button>Join</button>
      </form>
      <% if (locals.errors) { %>
      <ul>
        <% errors.map((error) => { %>
        <li><%= error.msg %></li>
        <% }) %>
      </ul>
      <% }} %>
    </main>
  </body>
</html>
